#include "gruvbox-dark.xresources"
XTerm.termName: xterm-256color
Xterm.vt100.locale: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.vt100.saveLines: 99999
XTerm.vt100.scrollBar: true
XTerm.vt100.scrollbar.width: 8
xterm*faceName: DejaVu Sans Mono:pixelsize=14:antialias=true:style=Bold
