BoldAsFont = no
BoldAsColour = no
Font = Consolas
FontHeight = 12
FontSmoothing = default
Term = xterm-256color

ForegroundColour = {LBlack}
BackgroundColour = {LWhite}
CursorColour = {LBlack}
Black = {LBlack}
BoldBlack = {LBlack}
Red = {LRed}
BoldRed = {LRed}
Green = {LGreen}
BoldGreen = {LGreen}
Yellow = {LYellow}
BoldYellow = {LYellow}
Blue = {LBlue}
BoldBlue = {LBlue}
Magenta = {LMagenta}
BoldMagenta = {LMagenta}
Cyan = {LCyan}
BoldCyan = {LCyan}
White = {LWhite}
BoldWhite = {LWhite}
